<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target type="ColoredConsole"
              name="UserInteractive"
              encoding="UTF-8"
              layout="${longdate} ${uppercase:${level}} ${message}"
              useDefaultRowHighlightingRules="true"
              errorStream="true">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="UserInteractive" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings configSource="appSettings.config" />
</configuration>